version: '3.8'

services:
  # Load Balancer
  load-balancer:
    build: .
    ports:
      - "3030:3030"
      # This where you configure the load balancer to listen
    command: ["-port=3030", "-backends=http://app1:80,http://app2:80,http://app3:80"]
    depends_on:
      - app1
      - app2
      - app3

  # Backend 1 (Custom Go Server)
  app1:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: app1
    environment:
      - PORT=80

  # Backend 2 (Custom Go Server)
  app2:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: app2
    environment:
      - PORT=80
    
  # Backend 3 (Custom Go Server)
  app3:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: app3
    environment:
      - PORT=80